body{
    background: #E9E9E9;
}

.container {
    flex: 1;    /* same as flex-grow: 1; */
}
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #EDE7E6;
    color: deepskyblue;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}
.titulo{
    color: azure;
    position: absolute;
    top:50%;
    font-size: 40px;
    
    
}


.ft-title {
    color: #000;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.ft-title-top {
    color: #0067EE;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}
.ft-top{
    padding: 5rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    background: #081423;
    align-content: center;
}
.ft-top-item {
    padding: 1.25rem;
    min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-top {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-top {
        justify-content: space-evenly;
    }
}

form {
    display: flex;
    flex-wrap: wrap;
}
input[type="email"] {
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}
input[type="submit"] {
    background-color: blue;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}



.ft-legal {
    padding: .1px;
    background-color: #fff;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;       /* same as flex-grow: 1; */
}

.ft-legal-list2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list2 li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

*/